@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/hospital.png" alt="Hospital Logo" class="logo" style="height: 30px; margin-right: 10px;" />
            Hospital Menagement
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

           <AuthorizeView Roles="Client,Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="appointment">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarToday"></MudIcon> Броньи
                    </NavLink>
                </div>
               </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="hospital">
                        <MudIcon Icon="@Icons.Material.Filled.LocalHospital" />  Больницы
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="branch">
                        <MudIcon Icon="@Icons.Material.Filled.Apartment" />  Филиалы
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="department">
                        <MudIcon Icon="@Icons.Material.Filled.BusinessCenter" />  Отделения
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="floor">
                        <MudIcon Icon="@Icons.Material.Filled.Layers" /> Этажи
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="room">
                        <MudIcon Icon="@Icons.Material.Filled.Room" /> Комнаты
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="doctor">
                        <MudIcon Icon="@Icons.Material.Filled.LocalPharmacy" /> Врачи
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="worker">
                        <MudIcon Icon="@Icons.Material.Filled.Person" /> Cотрудники
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="patient">
                        <MudIcon Icon="@Icons.Material.Filled.Group" /> Пациенты
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="role">
                        <MudIcon Icon="@Icons.Material.Filled.Security" /> Роли
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="position">
                        <MudIcon Icon="@Icons.Material.Filled.Work" /> Должности
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pateintinfo">
                        <MudIcon Icon="@Icons.Material.Filled.Group" /> Пациенты информатция
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="hospitaldiagram">
                        <MudIcon Icon="@Icons.Material.Filled.Schema" /> Hospital Diagram
                    </NavLink>
                </div>
        </Authorized>
        </AuthorizeView>
    </nav>
</div>
 
@code {

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
