@page "/appointment"
@using HospitalDTO.RequestModel
@using HospitalDTO.ResponseModel
@using HospitalDTO.UpdateRequestModel
@using HospitalWeb.Authentication
@using Newtonsoft.Json
@using System.Net.Http.Headers
@inject HttpClient httpClient
@* <EditForm Model="@appointmentRequest" OnValidSubmit="@Create">
    <MudTextField @bind-Value="appointmentRequest.Name" Label="Name" />
    <MudTextField @bind-Value="appointmentRequest.DoctorId" Label="Name" />
    <MudTextField @bind-Value="appointmentRequest.AppointmentDate" Label="Location" />
    <MudButton Color="Color.Primary" Style="align-content" Type="submit">Create</MudButton>
</EditForm> *@
@if (appointments != null)
{
    <MudDataGrid T="AppointmentResponse" Items="@appointments" ReadOnly="@_readOnly" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
                 StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                 Bordered="true" Dense="true" EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)">
        <Columns>
            <TemplateColumn>
                <HeaderTemplate>
                    <MudText>Number</MudText>
                </HeaderTemplate>
                <CellTemplate Context="context">
                    <MudText>@((appointments.ToList().IndexOf(context.Item) + 1).ToString())</MudText>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.DoctorName" />
            <PropertyColumn Property="x => x.AppointmentDate" />
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(async () => await Delete(context.Item.Id))" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="AppointmentResponse" />
        </PagerContent>
    </MudDataGrid>
    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@_readOnly" Color="Color.Primary">Read Only</MudSwitch>
    </div>
}

@code {
    [Inject]
    private CustomAuthenticationStateProvider authenticationStateProvider { get; set; }

    private string authToken;

    private bool _readOnly;
    private bool _isCellEditMode;
    private List<string> _events = new();
    private bool _editTriggerRowClick;

    private AppointmentRequest appointmentRequest = new();


    private IEnumerable<AppointmentResponse> appointments;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            authToken = await authenticationStateProvider.GetToken();
            if (authToken != null)
            {
                httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
                appointments = await httpClient.GetFromJsonAsync<List<AppointmentResponse>>("api/Appointment");
            }
        }
        catch (Exception)
        {
            
            throw;
        }
    }
    protected async Task Create()
    {
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
        await httpClient.PostAsJsonAsync<AppointmentRequest>("api/Appointment", appointmentRequest);
        appointments = await httpClient.GetFromJsonAsync<List<AppointmentResponse>>("api/Appointment");
    }

    protected async Task Delete(Guid id)
    {
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
        await httpClient.DeleteAsync($"api/Appointment?id={id}");
        appointments = await httpClient.GetFromJsonAsync<List<AppointmentResponse>>("api/Appointment");
    }

    // events
    void StartedEditingItem(AppointmentResponse item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    void CanceledEditingItem(AppointmentResponse item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }
    void CommittedItemChanges(AppointmentResponse item)
    {
        var updateRequest = new AppointmentUpdateRequest
            {
                Id = item.Id,
                Name=item.Name,
                AppointmentDate=item.AppointmentDate,
               //DoctorId=item.DoctorName
            };

        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", authToken);
        httpClient.PutAsJsonAsync<AppointmentUpdateRequest>("api/Hospital", updateRequest);
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }
}
